<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mavoid.zoidlockin.filter</string>
	<key>CFBundleName</key>
	<string>ZoidLockInFilter</string>
	<key>CFBundleDisplayName</key>
	<string>Zoid Lock In Filter</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleExecutable</key>
	<string>ZoidLockInFilterExtension</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>Zoid Lock In filters outbound TCP and UDP flows to enforce lockdown.</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.filter-data</key>
			<string>$(PRODUCT_MODULE_NAME).ContentFilterProvider</string>
		</dict>
	</dict>
</dict>
</plist>
